html{
  overflow:hidden;
}
@media (max-width:576px) {
  .cont-box{
    /* display: inline !important; */
    align-items:flex-start !important;
    width:100% !important;
    /* height:vh !important; */
    height: auto !important;
  }
  .calcy{
    width:100vw;
    height: 100vh;
    border-radius: 0%;

  }
  .cal-box{
    height:40%;

  }
  .cal-num{
    height:60%;
  }
  /* .cal-del{
  height:10% !important;
  border-radius: 0%;
  } */
}